.left_side, .right_side{
    background-color: transparent;
}

h2{
    font-size: 4em;
    margin: 0;
    padding: 0;
    color: var(--md-sys-color-secondary);
    transition: color 0.3s;
}

h3{
    font-size: 2em;
    margin: 20px 0 0 0;
    padding: 0;
    color: var(--md-sys-color-primary);
    transition: color 0.3s;
}
.flex_div{
    display: flex;
}
@media (max-width: 1500px) {
    .flex_div{
        flex-direction: column;
    }
}

article p{
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: var(--md-sys-color-secondary);
    transition: color 0.3s;

}

.business_card_area{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.business_card {
  position: relative;
  width: 500px;
  height: 800px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

#business_card_front{
    background-color: var(--md-sys-color-tertiary-container);
    transition: background-color 0.3s;
}


#business_card_front, #business_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
}

#business_card_back {
    transform: rotateY(180deg);
    background-color: var(--md-sys-color-tertiary-container);
    transition: background-color 0.3s;
}

.business_card:hover {
    transform: rotateY(180deg);
}

#card_background{
    width: 500px;
    height: 300px;
    z-index: 0;
}

#card_background_back{
    width: 500px;
    height: 100px;
    z-index: 0;
}

#card_title_back{
    display: flex;
    padding-right: 20px;
    margin-top: -90px;
}

#card_title_back h4{
    color: var(--md-sys-color-tertiary);
    font-weight: 500;
    transition: color 0.3s;
}

#card_background img, #card_background_back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card_profile{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: -100px auto 0 auto;
    display: block;
    z-index: 2;
}

#card_profile_back{
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}

#card_profile img, #card_profile_back img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 100%;
    border: 5px solid var(--md-sys-color-on-tertiary-container);
    object-fit: cover;
}

.business_card h4{
    font-size: 3em;
    font-weight: lighter;
    margin: 10px 0 0 0;
    padding: 0;
    color: var(--md-sys-color-on-tertiary-container);
    text-align: center;
    transition: color 0.3s;
}

.business_card p{
    font-size: 1em;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: var(--md-sys-color-on-secondary-fixed);
    text-align: center;
    transition: color 0.3s;
}

.business_card ul{
    list-style: none;
    margin: 40% 0 0 0;
    padding: 0;
    width: 100%;
}
.business_card ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.business_card ul li img{
    width:25px;
    height: 25px;
}

.business_card ul li p{
    padding: 0;
    margin: 0
}

#link_tree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.button {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  display: flex;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  text-decoration: none;
  margin: auto;
}

#link_tree li{
    margin: 0 0 10px 0;
}

@media (max-width: 900px) {
    h2{
        font-size: 2em;
    }
}