.center_block {
    background-color: var(--md-sys-color-surface);
    width: 1250px;
    height: 750px;
    margin: auto;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 50px;
    color: var(--md-sys-color-on-surface);
    text-align: center;
    padding-top: 100px;
}

p {
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

textarea {
    max-width: 60%;
    max-height: 500px;
    margin-left: 20%;
}

@media (max-width: 2000px) {
    .center_block {
        background-color: var(--md-sys-color-surface);
        width: 500px;
        height: 400px;
        margin: auto;
        align-items: center;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h2 {
        font-size: 25px;
        color: var(--md-sys-color-on-surface);
        text-align: center;
        padding-top: 20px;
    }

    p {
        color: var(--md-sys-color-on-surface);
        text-align: center;
    }

    textarea {
        max-width: 80%;
        max-height: 100px;
        margin-left: calc((100% - 80%) / 2);
    }
}