@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
article{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0 0 75px;
    overflow-y: auto;
}

article header{
    height: 75px;
    padding: 10px 20px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--md-sys-color-surface-container);
}

.uniq_light_header{
    display: flex;
    width: 500px;
}

.uniq_light_header img{
    height: 100%;
    vertical-align: middle;
}
.uniq_light_header h2{
    padding: 5px 0 0 0;
    font-size: 50px;
    margin: 0 0 0 10px;
    color: var(--md-sys-color-on-tertiary-container);
}
.uniq_light_header p{
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 50px;
    margin-left: 10px;
    font-weight: 100;
    color: var(--md-sys-color-on-tertiary-container);
}

.brewed_by{
    width: 175px;
    margin-left: auto;
}
.brewed_by p{
    margin: auto 0;
    font-size: 16px;
    font-weight: 900;
}
.brewed_by img{
    width: 50px;
    height: auto;
    margin-left: auto;
}

hr{
    position: sticky;
    top: 95px;
    border: none;
    border-radius: 10px;
    height: 4px;
    background-color: var(--md-sys-color-primary);
    margin: 0 10px;
    z-index: 1;
}


h3{
    margin: 0;
    padding: 25px 0 0 10px;
    font-weight: 100;
    font-size: 75px;
    color: var(--md-sys-color-on-tertiary-container);
}

article ul{
    list-style-type: none;
    display: flex;
    overflow-y: auto;
    padding-right: 350px;
}

article ul li{
    height: 300px;
    width: 200px;
    background-color: var(--md-sys-color-primary);
    margin: 0 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.coffee_image{
    height: 190px;
    width: 190px;
    margin: 5px 5px 0 5px;
    border-radius: 20px 20px 0 0;
    background-color: var(--md-sys-color-surface);
    overflow: hidden;
}

.coffee_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coffee_title{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--md-sys-color-on-primary);
}

.price_text{
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--md-sys-color-on-primary);
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}


#basket{
    position: fixed;
    right: 20px;
    top: 200px;
    width: 300px;
    height: calc(100% - 200px);
    border-radius: 25px 25px 0 0;
    background-color: var(--md-sys-color-tertiary-container);
    overflow: hidden;
    z-index: 3;
}

.basket_header{
    height: 50px;
    margin: 15px 20px 0 20px;
    padding: 0;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--md-sys-color-tertiary-container);
    align-items: center;
}

.basket_header img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

h4{
    margin: 0 auto;
    font-weight: 100;
    font-size: 40px;
    color: var(--md-sys-color-on-tertiary-container);
}

#order_type_box{
    position: relative;
    width: 250px;
    height: 20px;
    background-color: var(--md-sys-color-tertiary);
    margin: -10px 25px 0 25px;
}

#order_type_box p{
    color: var(--md-sys-color-on-tertiary);
    text-align: center;
    font-weight: 400;
    font-size: 13px;

}

#basket_area{
    margin: 15px;
    height: calc(100% - 250px);
    overflow-y: scroll;
}

.basket_item{
    height: 100px;
    width: 100%;
    background-color: var(--md-sys-color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
.basket_item_decaf{
    height: 100px;
    width: 100%;
    background-color: var(--md-sys-color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.basket_item h4, .basket_item_decaf h4{
    font-size: 25px;
    color: var(--md-sys-color-on-primary);
}

.basket_item_image{
    height: 90px;
    width: 90px;
    border-radius: 5px;
    background-color: var(--md-sys-color-surface);
    margin-left: 5px;
}

.basket_item_details{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.basket_item_price{
    padding-right: 10px;
}
.info_landscape{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info_landscape p{
    color: var(--md-sys-color-on-primary);
}


#basket_footer{
    margin: 15px;
}

.checkout_button {
  width: 100%;
  height: fit-content;
  padding: 8px 6px;
  background-color: var(--md-sys-color-on-surface-variant);
  opacity: 0.75;
  color: var(--md-sys-color-surface);
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  transition: opacity 0.3s;
}

#total_price{
    margin-bottom: 20px;
}

.checkout_button:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 1010px) {
    .hide {
        display: none;
    }
}


.uniq_light {
  --md-sys-color-primary: rgb(143 74 80);
  --md-sys-color-surface-tint: rgb(143 74 80);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 218 219);
  --md-sys-color-on-primary-container: rgb(114 51 58);
  --md-sys-color-secondary: rgb(118 86 88);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 218 219);
  --md-sys-color-on-secondary-container: rgb(92 63 65);
  --md-sys-color-tertiary: rgb(119 89 48);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 221 180);
  --md-sys-color-on-tertiary-container: rgb(93 66 27);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(34 25 26);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(34 25 26);
  --md-sys-color-surface-variant: rgb(244 221 222);
  --md-sys-color-on-surface-variant: rgb(82 67 68);
  --md-sys-color-outline: rgb(133 115 115);
  --md-sys-color-outline-variant: rgb(215 193 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 46);
  --md-sys-color-inverse-on-surface: rgb(255 237 237);
  --md-sys-color-inverse-primary: rgb(255 178 183);
  --md-sys-color-primary-fixed: rgb(255 218 219);
  --md-sys-color-on-primary-fixed: rgb(59 8 17);
  --md-sys-color-primary-fixed-dim: rgb(255 178 183);
  --md-sys-color-on-primary-fixed-variant: rgb(114 51 58);
  --md-sys-color-secondary-fixed: rgb(255 218 219);
  --md-sys-color-on-secondary-fixed: rgb(44 21 23);
  --md-sys-color-secondary-fixed-dim: rgb(230 189 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 63 65);
  --md-sys-color-tertiary-fixed: rgb(255 221 180);
  --md-sys-color-on-tertiary-fixed: rgb(41 24 0);
  --md-sys-color-tertiary-fixed-dim: rgb(231 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 66 27);
  --md-sys-color-surface-dim: rgb(231 214 214);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 240);
  --md-sys-color-surface-container: rgb(252 234 234);
  --md-sys-color-surface-container-high: rgb(246 228 228);
  --md-sys-color-surface-container-highest: rgb(240 222 222);
}