article{
    display: flex;
}
.left_side{
    width: 100%;
    height:fit-content;
    background-color: var(--md-sys-color-primary-container);
    border-radius: 20px ;
    padding: 15px 15px 25px 15px;
    margin-right: 5px;
}
input{
    margin: 0 0 20px 0;
    padding: 0;
}
.right_side{
    width: 100%;
    height:fit-content;
    border-radius: 20px ;
    background-color: var(--md-sys-color-tertiary-container);
    padding: 15px;
    margin-left: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}

h2{
    padding: 0;
    margin: 0;
}

.button{
    background-color: var(--md-sys-color-inverse-on-surface);
    opacity: 0.75;
    color: var(--md-sys-color-on-secondary-container);
}

.table_title_bar{
    background-color: var(--md-sys-color-primary);
}

tr:nth-child(even) {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    text-align: center;
}
tr:nth-child(odd) {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);text-align: center;
}

.table_title_bar th{
    padding: 5px;
    font-weight: 200;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}