article{
    display: flex;
}
@media (max-width: 1500px) {
    article{
        flex-direction: column;
    }
}

table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}

h2{
    color: var(--md-sys-color-on-primary-container);
    transition: color 0.3s;
    padding: 0;
    margin: 0;
}

.button{
    background-color: var(--md-sys-color-inverse-on-surface);
    opacity: 0.75;
    color: var(--md-sys-color-on-secondary-container);
    transition: background-color 0.3s, color 0.3s;
}

.table_title_bar{
    background-color: var(--md-sys-color-primary);
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
tr:nth-child(odd) {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.table_title_bar th{
    padding: 5px;
    font-weight: 200;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 900px) {
    article{
        flex-direction: column;
    }
}