@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
    transition: background-color 0.3s;
}

body p{
    color: var(--md-sys-color-on-background);
    transition: color 0.3s;
}

a{
    text-decoration: none;
    color: var(--md-sys-color-on-background);
    transition: color 0.3s;
}

#header{
    display: flex;
    justify-content:space-between;
    background-color: var(--md-sys-color-secondary-container);
    padding: 5px 25px 5px 25px;
    height: 50px;
    border-radius: 0 0 25px 25px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

#side_header{
    position: fixed;
    justify-content:space-between;
    background-color: var(--md-sys-color-primary-container);
    border-radius: 0 25px 25px 0;
    top: 75px;
    height: calc(100% - 100px); /* Intelij taught me something very cool */
    width: 275px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
    overflow: hidden;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
}

#logo{
    display: flex;
    padding: auto;
}

.side_logo_header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side_logo_header p{
    width: 100%;
}

#logo_image{
    width: 45px;
    height: 45px;
    margin: auto;
    padding-top: 4px;
}

.side_logo{
    width: 25px;
    height: 25px;
    margin: auto;
    padding: 0 10px;

}

#logo h1{
    margin: auto;
    color: var(--md-sys-color-on-secondary-container);
    padding-left: 10px;
    padding-top: 5px;
    transition: color 0.3s;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav ul li{
    float: left;
    padding: 0 2px 0 2px;
}

#side_header nav ul li{
    float: none;
    margin: 0 10px 5px 10px;
}

nav ul li a {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.selected{
  background-color: var(--md-sys-color-primary);
  opacity: 0.75;
  color: var(--md-sys-color-on-primary);
  transition: opacity 0.3s;
}

nav ul li a:hover{
  display: flex;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  text-decoration: none;
  margin: auto;

}

article{
    position: fixed ;
    bottom: 0;
    left: 300px;
    right: 10px;
    top: 75px;
    border-radius: 25px 25px 0 0;
    background-color: var(--md-sys-color-surface-container);
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.5);
    overflow-y: auto;
    padding: 2% 10% 75px;
    transition: background-color 0.3s, color 0.3s;
}

.button {
    width: fit-content;
    height: fit-content;
    padding: 4px 6px;
    background-color: var(--md-sys-color-secondary-container);
    opacity: 0.75;
    color: var(--md-sys-color-on-secondary-container);
    text-decoration: none;
    margin: auto;
    border-radius: 25px;
    transition: opacity 0.3s;
    align-self: center;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}


footer{
    opacity: 0.5;
    font-size: 10px;
    font-weight:lighter;
    display: flex;
    margin: auto;
    padding: 5px 15px;
    justify-content:space-between;
    background-color: var(--md-sys-color-tertiary-container);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

footer p{
    color: var(--md-sys-color-on-tertiary-container);
    transition: color 0.3s;
}

@media (max-width: 900px) {
    .not_important {
        display: none;
    }
    #side_header {
        width: 100px;
    }
    article {
        left: 125px;
        padding: 2% 5% 0 5%;
    }
}